.select-base {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #666;
    border-radius: 4px;
    transition: all 0.3s ease;
    background-color: var(--input-bg);
    color: var(--foreground);
}

.select-base::placeholder {
    color: #666;
}

.select-base:focus:not(.error) {
    outline: none;
    border-color: var(--accent);
}

.error-select-base {
    outline: none !important;
    border-color: var(--error) !important;
}
